extends layout

block content
  span(class='centeringTitle')
    h1 Make New Account
    form(action='/makeAccount', method='POST', class='centeringForm')
      p
        p First name: 
          input(type='text', name='firstname', value=specificInputs[0], title='Enter in your first name.')
          span(class ="errors")   #{specificErrors[0]}
        p Last name: 
          input(type='text', name='lastname', value=specificInputs[1], title='Enter in your last name.')
          span(class ="errors")   #{specificErrors[1]}
        p Username: 
          input(type='text', name='username', value=specificInputs[2], title='Enter in a username.')
          span(class ="errors")   #{specificErrors[2]}
        p Password: 
          input(type='password', name='password', value=specificInputs[3], title='Enter your password.')
          span(class ="errors")   #{specificErrors[3]}
        p Access Code: 
          input(type='number', name='code', value=specificInputs[4], title='Enter your access code given by administrator.')
          span(class ="errors")   #{specificErrors[4]}
        br
      span Make Account: 
      button(class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect", type='submit', title='Submit your requests')
        i(class="material-icons") send
