extends layout

block content
  span(class="centeringForm")
    h1 Results of analyzing  #{resultsFromAnalysis[7]} for prosodic events:
    p
      p #{resultsFromAnalysis[7]} file output:
      p Syllable Count: #{resultsFromAnalysis[0]}
      p Pause Count: #{resultsFromAnalysis[1]}
      p Total Duration: #{resultsFromAnalysis[2]} seconds
      p Speaking Total Duration: #{resultsFromAnalysis[3]} seconds
      p Speaking Rate: #{resultsFromAnalysis[4]}
      p Articulation Rate: #{resultsFromAnalysis[5]}
      p Average Syllable Duration: #{resultsFromAnalysis[6]} seconds
        p
          form(method='POST', class='centeringForm', action='/uploadFile')
            input(type="text" value=resultsFromAnalysis[8] name="username" style={display: "none"})
            span Go to Upload File: 
            button(class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect", type='submit', title='Submit your requests')
              i(class="material-icons") input

          form(method='POST', class='centeringForm', action='/pastAnalyses')
            input(type="text" value=resultsFromAnalysis[8] name="username" style={display: "none"})
            span Go to Past Analyses: 
            button(class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect", type='submit', title='Submit your requests')
              i(class="material-icons") history
